:root {
    --grey: #828282;
    --black: #1f1f1f;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    margin: 0 auto;
    padding: 18px;
    color: var(--grey);
    font-size: 18px;
    scrollbar-width: none;
    font-weight: 500;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh
}
a {
    color: var(--black);
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: var(--grey)
}
.disp {
    color: var(--black);
}
footer {
    color: var(--grey)
}
.button {
    padding: 6px 12px;
    background: #dcdcdc;
    color: var(var(--black))
}
.iine-button {
    background-color: #ffffff;
    font-size: 18px;
    color: var(--grey);
    font-family: inherit;
    display: flex;
    box-align: left;
    text-align: left;
}
.space {
    visibility: hidden;
}