body {
    font-family: 'SN Pro', Arial, sans-serif;
    margin: 18px;
    padding: 18px;
    color: #1f1f1f;
    font-size: 18px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-weight: 400;
    animation: fadeIn 0.5s ease-in;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
body.fade-out {
    opacity: 0;
}
a {
    text-decoration: none;
    color: inherit
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none
}
.nav {
    color: #8c8c8c
}
.nav:hover {
    color: #565656
}
.nav:press {
    text-decoration: none;
    color: #3d3d3d
}
.nav:focus {
    text-decoration: none
}
.disp {
    font-weight: 700
}
body::-webkit-scrollbar {
	display: none;
}
.back {
    display: block;
    margin-top: 18px
}
p {
    line-height: 22px;
    margin: 18px 0
}
@font-face {
    font-family: 'SN Pro';
    src: url('fonts/SNPro-Variable.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'SN Pro';
    src: url('fonts/SNPro-VariableItalic.woff2') format('woff2');
    font-style: italic;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}