body {
    font-family: system-ui;
    margin: 18px;
    padding: 18px;
    color: #1f1f1f;
    font-size: 18px
    scrollbar-width: none;
    -ms-overflow-style: none;
}
a {
    text-decoration: none;
    color: inherit
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none
}
.nav {
    color: #8c8c8c
}
.nav:hover {
    color: #565656
}
.nav:press {
    text-decoration: none;
    color: #3d3d3d
}
.nav:focus {
    text-decoration: none
}
.disp {
    font-weight: 550
}
scrollbar-width: none;
-ms-overflow-style: none;
body::-webkit-scrollbar {
	display: none;
}
